<head>
    <title><%= WebSite.Title %></title>

    <meta name="application-name" content="<%= WebSite.Name %>" />
    <meta name="description" content="<%= WebSite.Description %>" />
    <meta name="keywords" content="<%= WebSite.Keywords.join() %>" />
    <link rel="icon" href="<%= WebSite.Icon%>" />

    <script src="/Admin/Files/javascripts/Assets/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            custom: {"families":["Font Awesome 5 Solid"],
                urls: ['/Admin/Files/stylesheets/Assets/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link
        rel="stylesheet"
        href="/Admin/Files/stylesheets/Assets/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/files/css/tasty/owl.carousel.min.css" />
    <link rel="stylesheet" href="/files/css/tasty/magnific-popup.css" />
    <link rel="stylesheet" href="/files/css/tasty/themify-icons.css" />
    <link rel="stylesheet" href="/files/css/tasty/nice-select.css" />
    <link rel="stylesheet" href="/files/css/tasty/flaticon.css" />
    <link rel="stylesheet" href="/files/css/tasty/gijgo.css" />
    <link rel="stylesheet" href="/files/css/tasty/animate.min.css" />
    <link rel="stylesheet" href="/files/css/tasty/slick.css" />
    <link rel="stylesheet" href="/files/css/tasty/slicknav.css" />
    <link rel="stylesheet" href="/files/css/tasty/style.css" />
    <!-- <style>
        body {
            background-color: black;
        }
    </style> -->
</head>
