<!DOCTYPE html>
<html>
<% include ./Partials/Header.ejs %>
<body class="Category">
<header class="position-relative">
    <div class="container d-flex flex-column">
        <% include ./Partials/Navbar-light.ejs %>
    </div>
</header>
<div class="Content">
    <div style="background-color: #fbfbfb">
        <div class="container  pt-4">
            <div class="row px-3">
                <h3 class="font-weight-bold">Search: <%=search%></h3>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column">
        <div class="form-inline row">
            <div class="input-group mr-3 ml-auto">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="form">Sort</label>
                </div>
                <select class="custom-select" id="form" onchange="location = this.value;">
                    <option value="/search/?search=<%=search%>&sort=title">Title A-Z</option>
                    <option value="/search/?search=<%=search%>&sort=-title">Title Z-A</option>
                    <option value="/search/?search=<%=search%>&sort=date">Oldest</option>
                    <option value="/search/?search=<%=search%>&sort=-date" selected>Newest</option>
                    <option value="/search/?search=<%=search%>&sort=rating.likes">Most Liked</option>
                    <option value="/search/?search=<%=search%>&sort=rating.dislikes">Most Disliked</option>
                </select>
            </div>
        </div>
        <div class="Layout row mt-3">
            <% if(Posts.length>0){%>
                <% include ./Partials/Posts.ejs %>
                <% include ./Partials/SideBar1.ejs %>
            <%}else{%>
                <h1 class="text-center my-5 mx-auto">There is no Post yet.</h1>
                <% include ./Partials/SideBar2.ejs %>
            <%}%>
        </div>
    </div>
</div>
<% include ./Partials/Footer.ejs %>

</body>
</html>
