<nav class="navbar navbar-expand-lg navbar-dark bg-transparent my-md-4 pr-5 px-md-2">
    <a class="navbar-brand" href="/"><%= WebSite.Name %></a>
    <button
            class="navbar-toggler mr-5"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-5" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="CategoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">categories</a>
                <div class="dropdown-menu" aria-labelledby="CategoriesDropdown">
                    <% function DropDown(elm) {%>
                        <% elm.forEach( category => { %>
                            <%if(!category.SubClass){%>
                                <a class="dropdown-item" href="<%= category.Slug %>"><%= category.Name %></a>
                            <%} else {%>
                                <a class="dropdown-item dropdown-toggle" href="#" id="<%= category.Slug %>>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= category.Name %>
                                </a>
                                <div class="dropdown-menu position-static" aria-labelledby="<%= category.Slug %>">
                                    <% DropDown(category.SubClass);%>
                                </div>
                        <%}})%>
                    <%}%>
                    <% DropDown(Categories) %>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#AboutUs">About us</a>
            </li>
            <li class="nav-item d-flex">
                <a
                        class="nav-link mr-3 mx-lg-0"
                        href="<%= WebSite.SocialMedia.Facebook.Url%>"
                ><i class="fab fa-facebook-square"></i
                    ></a>
                <a
                        class="nav-link mr-3 mx-lg-0"
                        href="<%= WebSite.SocialMedia.Twitter.Url%>"
                ><i class="fab fa-twitter-square"></i
                    ></a>
                <a
                        class="nav-link mr-3 mx-lg-0"
                        href="<%= WebSite.SocialMedia.Instagram.Url%>"
                ><i class="fab fa-instagram"></i
                    ></a>
            </li>
            <li class="user nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="UserDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="UserDropdown">
                    <% if (!currentUser) { %>
                        <a class="dropdown-item" href="/user/login">Log In</a>
                    <% } else { %>
                        <div
                                class="dropdown-item d-flex justify-content-between align-items-center"
                        >
                            <img
                                    class="profile-pic mr-2"
                                    src="<%= currentUser.profileImage %>"
                                    alt=""
                            />
                            <div>
                                <p class="m-0 p-0"><%= currentUser.username %></p>
                                <p style="font-size: 0.8rem;" class="m-0 p-0">
                                    <%= currentUser.email %>
                                </p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/user/Profile">Profile</a>
                        <a class="dropdown-item" href="/user/logout">Log Out</a>
                    <% } %>
                </div>
            </li>
        </ul>
    </div>
</nav>
