<head>
    <title><%= WebSite.Title %></title>

    <meta name="application-name" content="<%= WebSite.Name %>">
    <meta name="description" content="<%= WebSite.Description %>">
    <meta name="keywords" content="<%= WebSite.Keywords.join() %>">
    <link rel="icon" href="<%= WebSite.Icon%>">
    <% WebSite.Styles.URLS.forEach(el=>{ %>
        <link rel="stylesheet" href="<%= el %>" />
    <%})%>
    <% WebSite.Styles.Codes.forEach(el=>{ %>
        <style><%- el %></style>
    <%})%>

</head>