<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
        <img class="w-100" src="<%=Post.covers[0]%>" />
        <h3 class="font-weight-bold mt-4"><%=Post.title%></h3>
        <div class="row ml-2 border-bottom align-items-center">
            <span
                >by
                <a href="/user/profile/<%=Post.author._id%>" class="text-muted"
                    ><%=Post.author.username%></a
                ></span
            >
            <span class="ml-2">
                -
                <a
                    href="/search?date=<%=new Date(Post.modified_date).toLocaleDateString(undefined,{ weekday: undefined, year: 'numeric', month: 'numeric', day: undefined })%>"
                    class="text-muted"
                    ><%=new
                    Date(Post.modified_date).toLocaleDateString(undefined,{
                    weekday: undefined, year: 'numeric', month: 'long', day:
                    undefined })%></a
                ></span
            >
            <a
                href="/Categories/<%=Category.Slug%>"
                class="text-muted font-weight-bold ml-auto mr-2"
                ><%=Category.Name%></a
            >
            <a href="#comments" class="btn"
                ><i class="far fa-comment-dots"></i>
                <%=Post.comments.length%></a
            >
            <a href="#" class="btn"
                ><i class="far fa-thumbs-up"></i> <%=Post.rating.likes%></a
            >
            <a href="#" class="btn"
                ><i class="far fa-thumbs-down"></i> <%=Post.rating.dislikes%></a
            >
            <a href="#" class="btn"
                ><i class="fas fa-eye"></i> <%=Post.visited%></a
            >
        </div>
        <div class="mt-3">
            <div class="ingredients">
                <h1>Ingredients:</h1>
                <ul class="pl-5">
                    <% Post.content.ingredients.forEach(ingredient => { %>
                        <li class="my-2" style="font-size: 1.1rem;list-style: disc;"><%= ingredient %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="steps mt-2">
                <h1>Steps:</h1>
                <ul class="pl-5">
                    <% Post.content.steps.forEach((ingredient, idx) => { %>
                        <li class="mt-1">
                            <div style="font-weight: bold;"><i class="fas fa-check-circle mr-2"></i>Step <%= idx+1 %>:</div>
                            <div class="mt-2"><%= ingredient %></div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="border-bottom w-100 mt-5 pb-3">
            <h5 class="font-weight-bold mb-4">Tags In</h5>
            <div class="row ml-1">
                <%Post.tags.forEach(tag=>{%>
                <a href="/tags/<%=tag%>" class="btn btn-outline-dark ml-2"
                    >#<%=tag%></a
                >
                <%})%>
            </div>
        </div>
        <div class="Share row">
            <a
                href="#"
                class="btn btn-outline-dark my-4 ml-2"
                type="button"
                data-toggle="collapse"
                data-target="#Share"
                aria-controls="Share"
                aria-expanded="false"
                aria-label="Toggle navigation"
                ><i class="fa fa-share"></i>Share</a
            >
            <div id="Share" class="collapse">fzzesdgf</div>
        </div>
    </div>
    <div class="comments-area">
        <% if(currentUser) { %>
        <form
            action="<%=Category.Slug%>?post=<%= Post._id %>"
            class="comment-form d-flex justify-content-between"
        >
            <input
                type="text"
                class="form-control mr-5"
                name="text"
                placeholder="Comment ..."
            />
            <button class="btn btn-outline-warning" type="submit">
                <i class="far fa-paper-plane"></i>
            </button>
        </form>
        <% } %> <% Post.comments.forEach(comment => { %>
        <div class="comment-list mt-4" data-id="<%= comment._id %>">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-start d-flex w-100">
                    <div class="thumb">
                        <a href="/user/profile/<%= comment.user._id %>"
                            ><img src="<%= comment.user.profileImage %>" alt=""
                        /></a>
                    </div>
                    <div class="desc w-100">
                        <p class="comment"><%= comment.text %></p>
                        <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                                <h5>
                                    <a
                                        href="/user/profile/<%= comment.user._id %>"
                                        ><%= comment.user.username %></a
                                    >
                                </h5>
                            </div>
                            <% if(currentUser &&
                            currentUser._id.equals(comment.user._id)) { %>
                            <div class="reply-btn">
                                <button
                                    class="delete-comment btn btn-outline-danger btn-sm"
                                >
                                    DELETE
                                </button>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <script>
        let slug = "<%=Category.Slug%>"
    </script>
</div>
