<div class="content mb-5" plugin-scripts="/Admin/files/javascripts/Assets/plugin/bootstrap-notify/bootstrap-notify.min.js,/Admin/files/javascripts/Assets/core/FormAjax.js"
     loading-script="/Admin/Files/javascripts/Install/Continue.js">
    <div class="page-inner row py-5 bg-info-gradient mx-0">
        <div class="ml-5 text-white pb-2">
            <h1>Website Installation</h1>
            <p>Setting website details.</p>
        </div>
    </div>
    <div id="Settings" class="row align-items-start col-11 mx-auto my--5">
        <div class="card col-12">
            <form class="card-body d-flex flex-column" method="post" action="/Install/Database">
                <h1 class="ml-4">Database</h1>
                <div class="ml-5">
                    <div class="form-group form-inline">
                        <label for="Name" class="col-md-3 col-form-label justify-content-start">Database Name :</label>
                        <div class="col-md-9 p-0">
                            <input type="text" class="form-control input-full" id="Name" name="Name" value="<%= DataBase.Name%>" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="URI" class="col-md-3 col-form-label justify-content-start File-Selector">DataBase URI :</label>
                        <div class="col-md-9 p-0">
                            <input type="text" class="form-control input-full" id="URI" name="URI" value="<%= DataBase.URI%>" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="UserName" class="col-md-3 col-form-label justify-content-start">DataBase UserName :</label>
                        <div class="col-md-9 p-0">
                            <input type="text" class="form-control input-full" id="UserName" name="UserName" value="<%= DataBase.UserName%>" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="Password" class="col-md-3 col-form-label justify-content-start">DataBase Password :</label>
                        <div class="col-md-9 p-0">
                            <input minlength="15" type="password" class="form-control input-full" id="Password" name="Password" value="<%= DataBase.Password%>" required>
                        </div>
                    </div>
                </div>
                <h1 class="ml-4">Security</h1>
                <div class="ml-5">
                    <div class="form-group form-inline">
                        <label for="SECRET_KEY" class="col-md-3 col-form-label justify-content-start">SECRET_KEY :</label>
                        <div class="col-md-9 p-0">
                            <input type="password" class="form-control input-full" id="SECRET_KEY" name="SECRET_KEY" value="<%= DataBase.SECRET_KEY%>" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success btn-border ml-auto mr-2">next</button>
                </div>
            </form>
        </div>
    </div>
</div>