<!DOCTYPE html>
<html>
    <% include ./Partials/header.ejs %>
    <body class="Category">
        <% include ./Partials/navbar-light.ejs %>
        <div class="slider_area">
            <div style="background-image:url(<%=Post.covers[0]?Post.covers[0]:Category.Cover%>);" class="single_slider d-flex align-items-center">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8">
                            <div class="slider_text text-center">
                                <div class="text">
                                    <h3><%= Post.title %></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Content">
            <div>
                <div class="container  pt-4">
                    <div class="row px-3 ">
                        <ol style="background-color: white;" class="breadcrumb pt-0 my-auto">
                            <li class="breadcrumb-item active">
                                <a href="/"><i class="fas fa-home"></i></a>
                            </li>
                            <%
                            let Slugs=Category.Slug.split("/"),sslug="";
                            for(let i=1 ;i<Slugs.length;i++){
                                sslug+="/"+Slugs[i];
                            %>
                            <li class="breadcrumb-item">
                                <a href="<%=sslug%>" class="font-weight-bold"><%=Slugs[i]%></a>
                            </li>
                            <%}%>
                            <li class="breadcrumb-item ">
                                <a href="" class="font-weight-bold"><%=Post.title%></a>
                            </li>
                        </ol>
                        <% if(currentUser && currentUser._id.equals(Post.author._id)) { %>
                            <a class="btn btn-warning ml-auto my-auto" href="<%= Category.Slug%>?edit=<%=Post._id%>"> <i class="far fa-edit"></i><span class="ml-1">Edit</span></a>
                        <% } %>
                    </div>
                </div>
            </div>

            <section class="blog_area section-padding">
                    <div class="container">
                        <div class="row">
                            <% include ./Partials/postContent.ejs %> <%include ./Partials/sideBar.ejs%>
                        </div>
                    </div>
            </section>
        </div>
        <% include ./Partials/footer.ejs %>
        <script src="/files/javascript/tasty/comments.js"></script>
    </body>
</html>
