<head>
    <title><%= WebSite.Title %></title>

    <meta name="application-name" content="<%= WebSite.Name %>">
    <meta name="description" content="<%= WebSite.Description %>">
    <meta name="keywords" content="<%= WebSite.Keywords.join() %>">
    <link rel="icon" href="<%= WebSite.Icon%>">
    <link rel="stylesheet" href="/Admin/Files/stylesheets/Assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/files/Default/stylesheets/style.css" />

</head>